# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.env
inventory.db
inventory.db-shm
inventory.db-wal

# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
flutter_*.png
*.log

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# MacOS
.DS_Store
.AppleDouble
.LSOverride
